version: '3.9'

services:
  client:
    image: programminghero/gold-client:latest
    restart: always
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: http://server:5000
    ports:
      - "3001:80" # Map port 80 from the container to 3000 on the host
    environment:
      REACT_APP_API_URL: http://server:5000
    depends_on:
      - server

  server:
    image: programminghero/gold-server:latest
    restart: always
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5000:5000" # Map port 5000 from the container to 5000 on the host
    environment:
      MONGO_URI: mongodb://mongo:27017/goldhallmark
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db

  # MongoDB Backup Service (runs every 2 hours)
  backup:
    build:
      context: ./backup
      dockerfile: Dockerfile
    container_name: mongodb-backup
    restart: always
    volumes:
      - backup-data:/backups
      - rclone-config:/root/.config/rclone  # Persist rclone config
    depends_on:
      - mongo
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=goldhallmark

volumes:
  mongo-data:
  backup-data:
  rclone-config:
