/* This will hide everything else during printing */
@media print {
    body * {
      visibility: hidden;
    }
  
    .print-content, .print-content * {
      visibility: visible;
    }
  
    /* Ensure the printed content takes up the full page */
    .print-content {
      width: 100%;
      max-width: none;
      padding: 0;
      box-shadow: none;
      border: none;
    }
  
    /* Remove any margins or unnecessary whitespace */
    @page {
      margin: 0;
    }
  
    /* Make table borders bold for printing */
    .print-content table,
    .print-content th,
    .print-content td {
      border-width: 1px !important;
      border-color: #222 !important;
      border-style: solid !important;
    }
  }
  